@use "variables";

.box-content {
    column-gap: 15px;
    flex-wrap: nowrap;
    width: 150%;

    &.image-border-green {
        border-radius: 3.491px;
        background-color: variables.$color-green1;
        width: 157.091px;
        height: 147.491px;
        padding: 15px;

        & .border-logo-wrapper {
            margin-bottom: 10px;
            margin-top: 5px;
        }

        &.text-white {
            color: white;
        }
    }

    @media screen and (min-width: 800px) {
        width: 100%;
        justify-content: center;
    }

    @media screen and (min-width: 990px) {
        gap: 40px;
    }
}
