

.consected {
    margin-top: -35px;

    &.consected-content {
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;

            &.start {
                width: 100%;
            }

            @media screen and (min-width: 570px) {
                justify-content: center;
                display: flex;
                align-items: center;
            }

            @media screen and (min-width: 800px) {
                width: 45%;
                padding-bottom: 0;
            }

            @media screen and (min-width: 990px) {
                width: 31%;
            }
       
    }
    &.consected-paragraph {
        padding: 0 20px 0 0;

        @media screen and (min-width: 570px) {
            width: 65%;
        }

        @media screen and (min-width: 800px) {
            width: 50%;
        }

        @media screen and (min-width: 990px) {
            width: 85%;
        }
    }

    
    @media screen and (min-width: 570px) {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    @media screen and (min-width: 800px) {
        display: flex;
    }

    @media screen and (min-width: 990px) {
        gap: 20px;
    }
}