$color-green1: #647B64;
$color-green1: #647B64;
$color-green2: #66AC66;
$color-white: #FFF;
$footer-bg-color: #F0DCC5;
$color-orange1: #F3B562;
$color-orange2: #EF8031;
$color-gray1: #333333;
$color-gray2: #4F4F4F;
$bg-color1: rgba(239, 128, 49, 0.00);
$bg-color2: rgba(239, 128, 49, 0.15);
$bg-color3: rgba(239, 128, 49, 0.00);
$button-text-color: #FEFEFE;
$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$family: 'Sen', sans-serif;
$weight-4: 400;
$weight-5: 500;