*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  background-repeat: no-repeat;
  width: 375px;
  height: 2954px;
}
@media screen and (min-width: 570px) {
  body {
    width: 100%;
  }
}

.container {
  padding: 20px;
}
@media screen and (min-width: 720px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.navigation-first {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 0 0;
}
.navigation-first.nav-small-size {
  border: none;
  width: 20%;
  justify-content: center;
  display: flex;
}
@media screen and (min-width: 400px) {
  .navigation-first {
    gap: 120px;
  }
}
@media screen and (min-width: 570px) {
  .navigation-first {
    display: none;
  }
}

.navigation-type {
  display: none;
}
@media screen and (min-width: 570px) {
  .navigation-type {
    display: block;
    padding: 20px;
  }
}
@media screen and (min-width: 571px) {
  .navigation-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 720px) {
  .navigation-type {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-wrapper {
  width: 138.436px;
}
@media screen and (min-width: 571px) {
  .logo-wrapper {
    width: 135px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 900px) {
  .logo-wrapper {
    width: 80%;
    padding-top: 0;
    margin-left: 95px;
  }
}

.orange {
  color: #F3B562;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.green {
  color: #647B64;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.paragraph-8 {
  font-size: 8px;
  font-weight: 400;
}
@media screen and (min-width: 570px) {
  .paragraph-8 {
    margin-bottom: 1px;
  }
}

.paragraph-10 {
  color: #4F4F4F, #4F4F4F;
  font-size: 8px;
  font-weight: 500;
}

.paragraph-12 {
  color: #4F4F4F;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
}

.heading-10 {
  font-size: 10px;
  font-weight: 400;
}

.heading-12 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 500;
  font-variant: small-caps;
}

.logos {
  margin-top: -15px;
}

.arrows-box {
  width: 100%;
}
@media screen and (min-width: 800px) {
  .arrows-box {
    gap: 300px;
    align-items: center;
    justify-content: space-around;
  }
}

.arrows {
  display: none;
  width: 142px;
}
@media screen and (min-width: 800px) {
  .arrows {
    display: block;
  }
}

footer {
  background-color: #F0DCC5;
  padding: 20px;
}
footer.container-footer {
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 990px) {
  footer.container-footer {
    padding-top: 30px;
  }
}
footer.one-column {
  gap: 30px;
}
@media screen and (min-width: 900px) {
  footer.one-column {
    width: 25%;
    gap: 30px;
  }
}
footer.nav-footer {
  width: 118px;
  gap: 12px;
  font-size: 12px;
  list-style-type: none;
  padding-left: 0;
  color: #333333;
}
footer.nav-footer.message {
  width: 25%;
}
footer.nav-footer.message.mail-box {
  gap: 10px;
  flex-direction: column;
}
footer.nav-footer.message.mail-box.form-label-custom {
  color: #647B64;
  color: #647B64;
  font-size: 16px;
  font-weight: 500;
}
footer.nav-footer.message.form-control-custom {
  width: 100%;
  height: 113px;
}
@media screen and (min-width: 570px) {
  footer.nav-footer.message {
    width: 70%;
  }
}
@media screen and (min-width: 900px) {
  footer.nav-footer.message {
    width: 25%;
  }
}
@media screen and (min-width: 990px) {
  footer.nav-footer.message {
    padding: 0 20px;
  }
}
footer.nav-footer.nav-item {
  width: 160px;
}
footer.nav-footer.nav-item.main-link {
  color: #647B64;
}
@media screen and (min-width: 570px) {
  footer {
    display: flex;
    justify-content: center;
  }
}

.footer-text {
  font-size: 10px;
}

.nav-link {
  color: none;
}
.nav-link.menu {
  width: 28px;
  height: 28px;
}
@media screen and (min-width: 570px) {
  .nav-link {
    width: 70%;
  }
}

.footer-custom {
  font-size: 10px;
}

@media screen and (min-width: 570px) {
  a {
    text-decoration: none;
    color: #333333;
    font-size: 10px;
    font-weight: 500;
    font-variant: small-caps;
  }
  .large-size {
    gap: 8px;
  }
  .logo {
    width: 50%;
    padding-bottom: 10px;
  }
  .picture-wrapper {
    width: 50%;
  }
  .bottom-content {
    width: 141px;
  }
  .name-wrapper-content {
    position: absolute;
    left: 95px;
    top: 24px;
  }
  .spec-width {
    font-size: 8px;
  }
  .name-wrapper {
    margin-top: -18px;
    font-size: 8px;
  }
  .large {
    width: 70%;
  }
  .large {
    width: 55%;
  }
}
@media screen and (min-width: 720px) {
  .header-image-wrapper {
    margin-left: 10px;
  }
}
@media screen and (min-width: 800px) {
  .container.boxes {
    padding: 0;
  }
  .office-picture {
    position: relative;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .logo {
    width: 20%;
  }
  .footer-info {
    width: 21%;
  }
  .large {
    width: 100%;
  }
  .large-size {
    gap: 29px;
    width: 50%;
  }
}
@media screen and (min-width: 990px) {
  .header-image-wrapper {
    margin-left: 75px;
  }
  .container.boxes {
    width: 50%;
  }
  .picture-wrapper {
    width: 21%;
  }
  .container.boxes {
    width: 35%;
  }
}/*# sourceMappingURL=style.css.map */